/*ini adalah comment*/

/*reset*/

*{ margin: 0; 
   padding:0;}

body { font-family:' sans-serif'; background-color:  bisque (197, 126, 18);}
img { display: flex;margin-left: auto;margin-right: auto; width:20%; margin-bottom: 20px; margin-top: 20px;/*ukuran gambar*/}


.head1 {border-radius:10px;
        background-color:rgb(239, 124, 143);
        color: white;
    text-align: center;
    margin-left: 2%;
    margin-right: 2%;}

p { background-color: rgb(255, 228, 196);
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: justify;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 20px;
    padding-bottom: 20px;}

        .head2 { border-radius: 10px;
                background-color:rgb(255, 218, 224);
                color:black;
                text-align: center;
                margin-left: 2%;
                margin-right: 2%;}

         .head3 {border-radius: 10px; background-color:rgb(255, 218, 224);
            color: black;
            text-align: center;
            padding-bottom: 2%;
            margin-left: 30%;
            margin-right: 30%;}
                           
    .oleh {text-align: center;
        background-color: rgb(255, 244, 230) ;
        text-align:left        ;
        padding-top: 50px;
        padding-right: 30px;
        padding-bottom: 50px;
        padding-left: 80px;
        background size : 1px;
        border: 5px solid pink ; margin top: 30% }
       
   
        .back {background-image: url(tugas6/arari4.jpg); 
               background-size: cover;
               padding-top: 2%;
               padding-bottom: 40%;
               background-attachment: fixed;)

      
        
       
    
    
